## Scraping data about popular quotes and their authors

## Importing libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import seaborn as sns

### Connection

In [2]:
url = 'http://quotes.toscrape.com/page/1/'
response = requests.get(url)
response.status_code

200

In [8]:
PATH = 'C:\webdrivers\chromedriver.exe'
driver = webdriver.Chrome(executable_path=PATH)
url = 'http://quotes.toscrape.com'
driver.get(url)
time.sleep(5)

C:\Users\piotr\AppData\Local\Temp\ipykernel_12840\1021058804.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH)

### Get the quote, author and link to the author from each page

In [18]:
PATH = 'C:\webdrivers\chromedriver.exe'
driver = webdriver.Chrome(executable_path=PATH)
quotes_data = []
for page in range(1,11):
    url = f'http://quotes.toscrape.com/page/{page}'
    driver.get(url)
    driver.implicitly_wait(3)
    quotes = driver.find_elements(By.XPATH,'(.//div[@class="col-md-8"])[2]//div[@class="quote"]')
    author_links = driver.find_elements(By.XPATH,'(.//div[@class="col-md-8"])[2]//div[@class="quote"]//span[2]//a')
    print(f'Getting page {page}. Waiting...')
    for quote in quotes:
        quote_text = quote.find_element(By.XPATH,'.//span[@class="text"]').text.strip()
        quote_author = quote.find_element(By.XPATH,'.//span[2]//small').text.strip()
        quote_author_link = quote.find_element(By.XPATH,'.//span[2]//a').get_attribute('href')
        quotes_data.append({'text':quote_text,
                            'author':quote_author,
                            'author_link':quote_author_link})
    time.sleep(2)

C:\Users\piotr\AppData\Local\Temp\ipykernel_12840\832518232.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH)

Getting page 1. Waiting...
Getting page 2. Waiting...
Getting page 3. Waiting...
Getting page 4. Waiting...
Getting page 5. Waiting...
Getting page 6. Waiting...
Getting page 7. Waiting...
Getting page 8. Waiting...
Getting page 9. Waiting...
Getting page 10. Waiting...

### Get all author links, and within each link get data about birth date, birth place and author description

In [20]:
PATH = 'C:\webdrivers\chromedriver.exe'
driver = webdriver.Chrome(executable_path=PATH)
author_data_links = []
author_data = []
for page in range(1,11):
    url = f'http://quotes.toscrape.com/page/{page}'
    driver.get(url)
    author_links = driver.find_elements(By.XPATH,'(.//div[@class="col-md-8"])[2]//div[@class="quote"]//span[2]//a')
    for i in author_links:
        link = i.get_attribute('href')
        author_data_links.append({'link':link})
    time.sleep(2)
        
              
for k in author_data_links:
    driver.get(k['link'])
    author_birth_date = driver.find_element(By.XPATH,'(//p//span)[1]').text.strip()
    author_birth_place = driver.find_element(By.XPATH,'(//p//span)[2]').text.strip()
    author_desc = driver.find_element(By.XPATH,'//div[@class="author-description"]').text.strip()
    author_data.append({'birth_date':author_birth_date,
                        'birth_place':author_birth_date,
                        'description':author_desc})
    time.sleep(2)

C:\Users\piotr\AppData\Local\Temp\ipykernel_12840\2102599181.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH)

### All author links

In [21]:
author_data_links

[{'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Jane-Austen'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Andre-Gide'},
 {'link': 'http://quotes.toscrape.com/author/Thomas-A-Edison'},
 {'link': 'http://quotes.toscrape.com/author/Eleanor-Roosevelt'},
 {'link': 'http://quotes.toscrape.com/author/Steve-Martin'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Bob-Marley'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/Douglas-Adams'},
 {'link': 'http://quotes.toscrape.com/author/Elie-Wiesel'},
 {'link': 'http://quotes.toscrape.com/author/Friedrich-Nietzsche'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/Allen-Saunders'},
 {'link': 'http://quotes.toscrape.com/author/Pablo-Neruda'},
 {'link': 'http://quotes.toscrape.com/author/Ralph-Waldo-Emerson'},
 {'link': 'http://quotes.toscrape.com/author/Mother-Teresa'},
 {'link': 'http://quotes.toscrape.com/author/Garrison-Keillor'},
 {'link': 'http://quotes.toscrape.com/author/Jim-Henson'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Bob-Marley'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Bob-Marley'},
 {'link': 'http://quotes.toscrape.com/author/Mother-Teresa'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Charles-M-Schulz'},
 {'link': 'http://quotes.toscrape.com/author/William-Nicholson'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Jorge-Luis-Borges'},
 {'link': 'http://quotes.toscrape.com/author/George-Eliot'},
 {'link': 'http://quotes.toscrape.com/author/George-R-R-Martin'},
 {'link': 'http://quotes.toscrape.com/author/C-S-Lewis'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Martin-Luther-King-Jr'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/James-Baldwin'},
 {'link': 'http://quotes.toscrape.com/author/Jane-Austen'},
 {'link': 'http://quotes.toscrape.com/author/Eleanor-Roosevelt'},
 {'link': 'http://quotes.toscrape.com/author/Marilyn-Monroe'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Haruki-Murakami'},
 {'link': 'http://quotes.toscrape.com/author/Alexandre-Dumas-fils'},
 {'link': 'http://quotes.toscrape.com/author/Stephenie-Meyer'},
 {'link': 'http://quotes.toscrape.com/author/Ernest-Hemingway'},
 {'link': 'http://quotes.toscrape.com/author/Helen-Keller'},
 {'link': 'http://quotes.toscrape.com/author/George-Bernard-Shaw'},
 {'link': 'http://quotes.toscrape.com/author/Charles-Bukowski'},
 {'link': 'http://quotes.toscrape.com/author/Suzanne-Collins'},
 {'link': 'http://quotes.toscrape.com/author/Suzanne-Collins'},
 {'link': 'http://quotes.toscrape.com/author/C-S-Lewis'},
 {'link': 'http://quotes.toscrape.com/author/J-R-R-Tolkien'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Ernest-Hemingway'},
 {'link': 'http://quotes.toscrape.com/author/Ralph-Waldo-Emerson'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/Alfred-Tennyson'},
 {'link': 'http://quotes.toscrape.com/author/Charles-Bukowski'},
 {'link': 'http://quotes.toscrape.com/author/Terry-Pratchett'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/J-D-Salinger'},
 {'link': 'http://quotes.toscrape.com/author/George-Carlin'},
 {'link': 'http://quotes.toscrape.com/author/John-Lennon'},
 {'link': 'http://quotes.toscrape.com/author/W-C-Fields'},
 {'link': 'http://quotes.toscrape.com/author/Ayn-Rand'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/Albert-Einstein'},
 {'link': 'http://quotes.toscrape.com/author/Jane-Austen'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Jane-Austen'},
 {'link': 'http://quotes.toscrape.com/author/Jane-Austen'},
 {'link': 'http://quotes.toscrape.com/author/C-S-Lewis'},
 {'link': 'http://quotes.toscrape.com/author/C-S-Lewis'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/C-S-Lewis'},
 {'link': 'http://quotes.toscrape.com/author/J-K-Rowling'},
 {'link': 'http://quotes.toscrape.com/author/Jimi-Hendrix'},
 {'link': 'http://quotes.toscrape.com/author/J-M-Barrie'},
 {'link': 'http://quotes.toscrape.com/author/E-E-Cummings'},
 {'link': 'http://quotes.toscrape.com/author/Khaled-Hosseini'},
 {'link': 'http://quotes.toscrape.com/author/Harper-Lee'},
 {'link': 'http://quotes.toscrape.com/author/Madeleine-LEngle'},
 {'link': 'http://quotes.toscrape.com/author/Mark-Twain'},
 {'link': 'http://quotes.toscrape.com/author/Dr-Seuss'},
 {'link': 'http://quotes.toscrape.com/author/George-R-R-Martin'}]

### Creating data frames

In [26]:
df_author = pd.DataFrame(author_data)

In [27]:
df_quotes = pd.DataFrame(quotes_data)

In [30]:
df_author.head()

,birth_date,birth_place,description
0,"March 14, 1879","March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
1,"July 31, 1965","July 31, 1965",See also: Robert GalbraithAlthough she writes ...
2,"March 14, 1879","March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
3,"December 16, 1775","December 16, 1775",Jane Austen was an English novelist whose work...
4,"June 01, 1926","June 01, 1926",Marilyn Monroe (born Norma Jeane Mortenson; Ju...

In [31]:
df_quotes.head()

,text,author,author_link
0,“The world as we have created it is a process ...,Albert Einstein,http://quotes.toscrape.com/author/Albert-Einstein
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,http://quotes.toscrape.com/author/J-K-Rowling
2,“There are only two ways to live your life. On...,Albert Einstein,http://quotes.toscrape.com/author/Albert-Einstein
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,http://quotes.toscrape.com/author/Jane-Austen
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,http://quotes.toscrape.com/author/Marilyn-Monroe

In [34]:
df_author

,birth_date,birth_place,description
0,"March 14, 1879","March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
1,"July 31, 1965","July 31, 1965",See also: Robert GalbraithAlthough she writes ...
2,"March 14, 1879","March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
3,"December 16, 1775","December 16, 1775",Jane Austen was an English novelist whose work...
4,"June 01, 1926","June 01, 1926",Marilyn Monroe (born Norma Jeane Mortenson; Ju...
...,...,...,...
95,"April 28, 1926","April 28, 1926","Harper Lee, known as Nelle, was born in the Al..."
96,"November 29, 1918","November 29, 1918",Madeleine L'Engle was an American writer best ...
97,"November 30, 1835","November 30, 1835","Samuel Langhorne Clemens, better known by his ..."
98,"March 02, 1904","March 02, 1904",Theodor Seuss Geisel was born 2 March 1904 in ...
99,"September 20, 1948","September 20, 1948","George R. R. Martin was born September 20, 194..."

### Concatenating data frames

In [37]:
df_clean = pd.concat([df_quotes,df_author],axis=1)

In [39]:
df_clean.shape

(100, 6)

In [46]:
df_clean = df_clean.loc[:,['author','text','birth_date','birth_place','author_link','description']]

In [49]:
df_clean.rename(columns = {'text':'quote',
                           'birth_date':'author_birth_date',
                           'birth_place':'author_birth_place',
                           'description':'author_description'},
                           inplace=True)

### Final data frame

In [50]:
df_clean

,author,quote,author_birth_date,author_birth_place,author_link,author_description
0,Albert Einstein,“The world as we have created it is a process ...,"March 14, 1879","March 14, 1879",http://quotes.toscrape.com/author/Albert-Einstein,"In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","July 31, 1965","July 31, 1965",http://quotes.toscrape.com/author/J-K-Rowling,See also: Robert GalbraithAlthough she writes ...
2,Albert Einstein,“There are only two ways to live your life. On...,"March 14, 1879","March 14, 1879",http://quotes.toscrape.com/author/Albert-Einstein,"In 1879, Albert Einstein was born in Ulm, Germ..."
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","December 16, 1775","December 16, 1775",http://quotes.toscrape.com/author/Jane-Austen,Jane Austen was an English novelist whose work...
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","June 01, 1926","June 01, 1926",http://quotes.toscrape.com/author/Marilyn-Monroe,Marilyn Monroe (born Norma Jeane Mortenson; Ju...
...,...,...,...,...,...,...
95,Harper Lee,“You never really understand a person until yo...,"April 28, 1926","April 28, 1926",http://quotes.toscrape.com/author/Harper-Lee,"Harper Lee, known as Nelle, was born in the Al..."
96,Madeleine L'Engle,“You have to write the book that wants to be w...,"November 29, 1918","November 29, 1918",http://quotes.toscrape.com/author/Madeleine-LE...,Madeleine L'Engle was an American writer best ...
97,Mark Twain,“Never tell the truth to people who are not wo...,"November 30, 1835","November 30, 1835",http://quotes.toscrape.com/author/Mark-Twain,"Samuel Langhorne Clemens, better known by his ..."
98,Dr. Seuss,"“A person's a person, no matter how small.”","March 02, 1904","March 02, 1904",http://quotes.toscrape.com/author/Dr-Seuss,Theodor Seuss Geisel was born 2 March 1904 in ...
99,George R.R. Martin,“... a mind needs books as a sword needs a whe...,"September 20, 1948","September 20, 1948",http://quotes.toscrape.com/author/George-R-R-M...,"George R. R. Martin was born September 20, 194..."