<h2><b>Scraping data about Serie A statistics (season 2022/2023)</h2></b>

### Libraries

In [2]:
import pandas as pd
import numpy as np
import requests
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from IPython.display import Image

### Connection

In [4]:
url = "https://www.legaseriea.it/en/team/napoli"
response = requests.get(url)
response.status_code

200

In [126]:
PATH = 'C:\webdrivers\chromedriver.exe'
driver = webdriver.Chrome(executable_path=PATH)
url = "https://www.legaseriea.it/en/team/napoli"
driver.get(url)
driver.implicitly_wait(3)
cookies = driver.find_element(By.XPATH,'//button[@class="iubenda-cs-accept-btn iubenda-cs-btn-primary"]')
cookies.click()
view_table = driver.find_element(By.XPATH,'(//a[@class="p3 bold white"])[1]')
view_table.click()
driver.implicitly_wait(5)
links = []
statistics_links = []
statistics_data = []
team_points = []

C:\Users\piotr\AppData\Local\Temp\ipykernel_11624\3625315536.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=PATH)

In [128]:
points = driver.find_elements(By.XPATH,'.//h3[@class="bold primary-200 text-center"]')
for h in points:
    team_points.append({'points':h.text.strip()})

In [131]:
df_points = pd.DataFrame(team_points)

In [132]:
df_points

   points
0      90
1      74
2      72
3      70
4      64
5      63
6      62
7      56
8      54
9      53
10     52
11     46
12     45
13     43
14     42
15     36
16     31
17     31
18     27
19     19

### Getting links to all teams in the table

In [134]:
team_links = driver.find_elements(By.XPATH,'.//table[@class="table hm-table hm-table-classify"]//tbody//tr//td[2]//a')
for i in team_links:
    team_link = i.get_attribute('href')
    links.append({"link":team_link})

In [135]:
links

[{'link': 'https://www.legaseriea.it/en/team/napoli'},
 {'link': 'https://www.legaseriea.it/en/team/lazio'},
 {'link': 'https://www.legaseriea.it/en/team/inter'},
 {'link': 'https://www.legaseriea.it/en/team/milan'},
 {'link': 'https://www.legaseriea.it/en/team/atalanta'},
 {'link': 'https://www.legaseriea.it/en/team/roma'},
 {'link': 'https://www.legaseriea.it/en/team/juventus'},
 {'link': 'https://www.legaseriea.it/en/team/fiorentina'},
 {'link': 'https://www.legaseriea.it/en/team/bologna'},
 {'link': 'https://www.legaseriea.it/en/team/torino'},
 {'link': 'https://www.legaseriea.it/en/team/monza'},
 {'link': 'https://www.legaseriea.it/en/team/udinese'},
 {'link': 'https://www.legaseriea.it/en/team/sassuolo'},
 {'link': 'https://www.legaseriea.it/en/team/empoli'},
 {'link': 'https://www.legaseriea.it/en/team/salernitana'},
 {'link': 'https://www.legaseriea.it/en/team/lecce'},
 {'link': 'https://www.legaseriea.it/en/team/hellas-verona'},
 {'link': 'https://www.legaseriea.it/en/team/spezia'},
 {'link': 'https://www.legaseriea.it/en/team/cremonese'},
 {'link': 'https://www.legaseriea.it/en/team/sampdoria'}]

### Getting links to all pages with statistics for each team

In [136]:
for k in links:
    driver.get(k["link"])
    driver.implicitly_wait(3)
    statistics_page = driver.find_element(By.XPATH,'.//div[@class="hm-nav-section"]//li[5]//a').get_attribute('href')
    statistics_links.append({"link_stats":statistics_page})

In [137]:
statistics_links

[{'link_stats': 'https://www.legaseriea.it/team/napoli/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/lazio/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/inter/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/milan/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/atalanta/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/en/team/roma/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/juventus/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/fiorentina/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/bologna/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/torino/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/monza/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/udinese/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/sassuolo/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/empoli/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/salernitana/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/lecce/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/hellas-verona/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/spezia/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/cremonese/statistiche'},
 {'link_stats': 'https://www.legaseriea.it/team/sampdoria/statistiche'}]

In [138]:
for u in statistics_links:
    driver.get(u["link_stats"])
    driver.implicitly_wait(3)
    team_name = driver.find_element(By.XPATH,'//h3[@class="MonumentExtended regular regular white"]').text.strip()
    wins = driver.find_element(By.XPATH,'(.//p[@class="black bold ms-auto"])[1]').text.strip()
    draws = driver.find_element(By.XPATH,'(.//p[@class="black bold ms-auto"])[2]').text.strip()
    loses = driver.find_element(By.XPATH,'(.//p[@class="black bold ms-auto"])[3]').text.strip()
    fouls_against = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-200"])[1]').text.strip()
    fouls = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-200"])[2]').text.strip()
    yellow_cards = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-200"])[3]').text.strip()
    red_cards = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-200"])[4]').text.strip()
    double_yellow_cards = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-200"])[5]').text.strip()
    total_goals_scored = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-green"])[1]').text.strip()
    big_chances_missed = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-green"])[2]').text.strip()
    assist_leading_to_goals = driver.find_element(By.XPATH,'(.//h5[@class="MonumentExtended regular uppercase primary-green"])[3]').text.strip()
    statistics_data.append({"team_name":team_name,
                            "wins":wins,
                            "draws":draws,
                            "loses":loses,
                            "fouls_against":fouls_against,
                            "fouls":fouls,
                            "yellow_cards":yellow_cards,
                            "red_cards":red_cards,
                            "double_yellow_cards":double_yellow_cards,
                            "red_cards":red_cards,
                            "double_yellow_cards":double_yellow_cards,
                            "total_goals_scored":total_goals_scored,
                            "big_chances_missed":big_chances_missed,
                            "assist_leading_to_goals":assist_leading_to_goals})
    time.sleep(3)

### Final data frame

In [139]:
df_stats = pd.DataFrame(statistics_data)

In [140]:
df_stats

,team_name,wins,draws,loses,fouls_against,fouls,yellow_cards,red_cards,double_yellow_cards,total_goals_scored,big_chances_missed,assist_leading_to_goals
0,NAPOLI,28,6,4,468,389,47,1,0,77,490,57
1,LAZIO,22,8,8,471,401,86,2,0,60,325,37
2,INTER,23,3,12,406,443,62,1,2,71,480,50
3,MILAN,20,10,8,438,449,86,0,2,64,418,49
4,ATALANTA,19,7,12,385,470,81,2,1,66,404,42
5,ROMA,18,9,11,504,446,78,2,2,50,368,33
6,JUVENTUS,22,6,10,409,456,72,5,1,56,404,41
7,FIORENTINA,15,11,12,513,488,89,1,2,53,460,37
8,BOLOGNA,14,12,12,426,477,80,1,2,53,371,41
9,TORINO,14,11,13,382,506,81,0,0,42,375,34
10,MONZA,14,10,14,495,489,88,3,1,48,312,31
11,UDINESE,11,13,14,477,480,86,2,1,47,385,41
12,SASSUOLO,12,9,17,443,408,84,3,3,47,372,30
13,EMPOLI,10,13,15,460,440,82,4,3,37,321,20
14,SALERNITANA,9,15,14,438,473,84,3,1,48,280,34
15,LECCE,8,12,18,439,553,85,1,1,33,313,21
16,HELLAS VERONA,7,10,21,383,539,104,3,0,31,304,23
17,SPEZIA,6,13,19,379,519,95,2,4,31,289,18
18,CREMONESE,5,12,21,407,458,81,3,0,36,325,19
19,SAMPDORIA,3,10,25,512,507,104,1,2,24,272,17

In [143]:
df_table = pd.merge(df_stats, df_points, left_index=True, right_index=True)

In [144]:
df_table

,team_name,wins,draws,loses,fouls_against,fouls,yellow_cards,red_cards,double_yellow_cards,total_goals_scored,big_chances_missed,assist_leading_to_goals,points
0,NAPOLI,28,6,4,468,389,47,1,0,77,490,57,90
1,LAZIO,22,8,8,471,401,86,2,0,60,325,37,74
2,INTER,23,3,12,406,443,62,1,2,71,480,50,72
3,MILAN,20,10,8,438,449,86,0,2,64,418,49,70
4,ATALANTA,19,7,12,385,470,81,2,1,66,404,42,64
5,ROMA,18,9,11,504,446,78,2,2,50,368,33,63
6,JUVENTUS,22,6,10,409,456,72,5,1,56,404,41,62
7,FIORENTINA,15,11,12,513,488,89,1,2,53,460,37,56
8,BOLOGNA,14,12,12,426,477,80,1,2,53,371,41,54
9,TORINO,14,11,13,382,506,81,0,0,42,375,34,53
10,MONZA,14,10,14,495,489,88,3,1,48,312,31,52
11,UDINESE,11,13,14,477,480,86,2,1,47,385,41,46
12,SASSUOLO,12,9,17,443,408,84,3,3,47,372,30,45
13,EMPOLI,10,13,15,460,440,82,4,3,37,321,20,43
14,SALERNITANA,9,15,14,438,473,84,3,1,48,280,34,42
15,LECCE,8,12,18,439,553,85,1,1,33,313,21,36
16,HELLAS VERONA,7,10,21,383,539,104,3,0,31,304,23,31
17,SPEZIA,6,13,19,379,519,95,2,4,31,289,18,31
18,CREMONESE,5,12,21,407,458,81,3,0,36,325,19,27
19,SAMPDORIA,3,10,25,512,507,104,1,2,24,272,17,19